# AZ-104-Microsoft-Azure-Administrator
 
### This repository is provided as a reference
### Updated 12/04/2023

This repository is maintained by Rick Trader<br>
Interface Technical Training<br>

The Courseware Links documents list is not an all inclusive list, I will update it as needed. (It is currently based off hte links when the course was 4 Learning Paths) <br>
If you find a link is not working or sending you to a wrong site, either comment in issues or request pull and we will research and update appropriately. <br>